@page
@model Task5Model
@{
    ViewData["Title"] = "Countries";
}

<h1>Список країн:</h1>
<ul>
    <li>Україна</li>
    <li>США</li>
    <li>Угорщина</li>
    <li>Польща</li>
    <li>Австрія</li>
    <li>Чехія</li>
    <li>Словакія</li>

</ul>
