@page
@model Task4Model
@{
    ViewData["Title"] = "Home page";
}

<h1>Випадкова літера:</h1>
<p>@Model.RandomLetter</p>
<h2>Список ресторанів:</h2>
<ul>
    <li>Ресторан 1</li>
    <li>Ресторан 2</li>
    <li>Ресторан 3</li>
</ul>
